<!DOCTYPE html>
<html lang="en">
  <%- include("head") %>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4"><%= data.title %></h1>
        <p class="lead"><%= data.description %></p>
        <hr class="my-4">
        <p><b>Level:</b> <%= data.difficulty_level%> | <b>Solved Users:</b> <%= data.completed_users%></p>
        <form action="/problems/<%= data._id %>/verify" method="post">
          <textarea id="code" name="code"></textarea>
          <div class="article-buttons">
            <a class="btn btn-link btn-lg" href="/problems" role="button">Back</a>
            <button class="btn btn-primary btn-lg" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <script src="/codemirror/lib/codemirror.js"></script>
    <link rel="stylesheet" href="/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/codemirror/theme/ayu-dark.css">
    <script src="/codemirror/mode/javascript/javascript.js"></script>
    <script src="/javascripts/code.js"></script>
  </body>
</html>
