<!DOCTYPE html>
<html>
  <head>
    <script src="/codemirror/lib/codemirror.js"></script>
    <script src="/codemirror/mode/javascript.js"></script>
    <script src="/codemirror/addon/line_numbers.js"></script>
    <script src="/codemirror/addon/edit/closebrackets.js"></script>
    <script src="/codemirror/addon/edit/closetag.js"></script>
    <script src="/codemirror/addon/edit/continuelist.js"></script>
    <script src="/codemirror/addon/edit/matchbrackets.js"></script>
    <script src="/codemirror/addon/edit/matchtags.js"></script>
    <script src="/codemirror/addon/edit/trailingspace.js"></script>

    <link rel="stylesheet" href="/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/codemirror/theme/material-palenight.css">

    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>

    <h2><%= title %></h2>

    <form>
      <textarea id="editor" name="userAnswer">
<%= userAnswer %></textarea>
    </form>

    <h1>코드 에러!</h1>
    <div>
      <h2>에러: <%= errorName %></h4>
      <h3>에러 메시지: <%= errorMessage %></h4>
      <h4>에러 스택: <%= errorStack %></h4>
    </div>

    <% include ./partials/footer %>
    <script src='/javascripts/editor.js'></script>
  </body>
</html>
