<%- include('partial/head') -%>
<div class="box"></div>
  <% if (error) { %>
    <h3>ERROR</h3>
    <h4><%= error%></h4>
  <% } else { %>
    <h3>Test case: <%= test %></h3>
    <h4>Expected: <%= expect %>, instead got: <%= result %></h4>
  <% } %>
</div>
<a href="/problems/<%= id %>">문제로 돌아가기</a>
<%- include('partial/tail') -%>
