<%- include('partials/problem-detail') %>

<div class="playground failure">
  <div class="solution">
    <div class="title">Solution</div>
    <textarea id="codearea" name="usercode"><%= usercode %></textarea>
  </div>
  <div class="output failure">
    <div class="title">Output</div>
    <div class="statistics">
      <div class="passed">Passed: <%= results.filter(result => result.isCorrect).length %></div>
      <div class="failed">Failed: <%= results.filter(result => !result.isCorrect).length %></div>
    </div>
    <ul class="failcases">
      <% for (const result of results) { %>
        <% if (!result.isCorrect) { %>
          <li class="failcase">
            <p>Expected: <b class="correct"><%= result.correctResult %></b></p>
            <% if (!result.error) { %>
              <p>instead got: <b class="wrong"><%= result.userResult %></b></p>
            <% } else { %>
              <p><b class="wrong"><%= result.error %></b></p>
            <% } %>
          </li>
        <% } %>
      <% } %>
    </ul>
  </div>
</div>

<form class="buttons" action="/problems/<%= problem.id %>" method="get">
  <button type="submit" class="code-button">다시 풀기</button>
</form>

<%- include('partials/codemirror') %>