<%# views/failure.ejs %>
<% extend('layout') %>

<section class='failure'>
   <% if (error) { %>
    <h1><%= error.message %></h1>
    <h2><%= error.status %></h2>
    <a href='/problem/<%=problemId%>'>다시 풀기</a>
    <% } else { %>
    <div class='failure-container'>
        <p>다시 도전하세요</p>
        <div class='failure-description'>
            input <p><%= input %></p>
        </div>
        <div class='failure-description'>
            output <p><%= output %></p>
        </div>
        <div class='failure-description'>
            expect <p><%= expect %></p>
        </div>
    </div>
    <div class='backTo-main-btn'>
        <a href='/'>other test</a>
    </div>
    <% } %>
</section>
