<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header') %>

    <div class="container msg">
      <p class="basic-msg">
        Test <strong class="line-color02">failed</strong>.
      </p>
      <div class="fail-box">
        <ul class="fail-info">
          <li class="expected">Expected: <%= expected %></li>
          <li class="received">Received: <%= received %></li>
        </ul>
        
        <pre class="error-msg stack"><%= err.stack %></pre>
      </div>
    </div>
  </body>
</html>
