<!DOCTYPE html>
<html>
  <head>
    <title>Fail</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2|Gamja+Flower&display=swap" rel="stylesheet" />
  </head>
  <body>
    <section class="resultSection">
      <% if (message === "solution is not defined") { %>
        <h1 class="testMessage">"Please enter the function's name as 'solution'."</h1>
      <% } else { %>
        <h1 class="testMessage"><%= message %></h1>
      <% } %>
      <a href="/problems">Go Home</a>
      <a href="#" class="goBack">Try again</a>
      <% if (!!results && results.length) { %>
        <article>
          <ul class="results">
            <% results.forEach((result, index) => { %>
              <li>[Test <%= index + 1 %>]</li>
              <li>expected <u><big>"<%= result[0] %>"</big></u> to equal <u><big>"<%= result[1] %>".</big></u></li>
            <% }) %>
          </ul>
        </article>
      <% } %>
      <% if (!!stack) { %>
        <div class="failErrorStack"><%= stack %></div>
      <% } %>
    </section>
    <script>
      document.querySelector(".goBack").addEventListener("click", () => {
        window.history.back();
      });
    </script>
  </body>
</html>
