<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <%-include("title"); %>
   <%-include("menu"); %>

   <h3><%=name%></h3>
   <span><%=message%></span>
   <article><%=stack%></article>
   <%- include("back", {originalUrl})%>
  </body>
</html>


