<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/css/failure.css">
  <title>Document</title>
</head>
<body>
  <h1>실패!</h1>
  <div class="container">
    <% if (error) { %>
      <h2>
        실행 에러!
      </h2>
    <% } else { %>
      <h2>
        테스트 케이스 실패!
      </h2>
    <% } %>

    <br>

    <% if (error) { %>
      <%= error %>
    <% } else { %>
      <% for( let i = 0; i < testResults.length; i++ ) { %>
        <ul>
          <li class="<%= testResults[i].passed ? 'success' : 'failed' %>">
            <%= testResults[i].passed ? `${i+1}번 Test passed` : `${i+1}번 Test failed` %>
          </li>
          <li>
            actual -
            <%= testResults[i].actual %>
          </li>
          <li>
            expected -
            <%= testResults[i].expected %>
          </li>
        </ul>
      <% } %>
    <% } %>

    <br>

    <a href="/problems/<%= problemId %>">
      <button>
        돌아가기
      </button>
    </a>
  </div>
</body>
</html>
