<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/resultPage.css" />
    <link rel="stylesheet" href="/codemirror/lib/codemirror.css" />
    <link rel="stylesheet" href="/codemirror/theme/gruvbox-dark.css" />
    <script src="/codemirror/lib/codemirror.js"></script>
  </head>
  <body>
    <%- include('partial/header') %>
    <section class="solution-Info">
      <article class="user-code">
          <textarea id="code" name="submit_text"><%= userCode %></textarea>
        <script>
          const editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            lineNumbers: true,
            styleActiveLine: true,
            mode: "javascript",
            indentUnit: 2,
            identWithTabs: true,
            theme: "gruvbox-dark"
          });
        </script>
        <p class="result-comment">Error Comment: </p>
        <article class="error-comment">
          <%= error %>
        </article>
      </article>
      <article class="result-boxes">
        <p class="result-comment">코드 결과: </p>
        <ul class="result-info">
          <% testCase.forEach(result => { %>
            <li class="result-box">
              <% if (result.status === "fail") { %>
                <div class="fail"></div>
                <div class="solution">
                  <%= result.solution %>
                </div>
              <% } else { %>
                <div class="success"></div>
                <div class="solution">
                  <%= result.solution %>
                </div>
              <% } %>
              <p>result value: <%= result.resultValue %></p>
            </li>
          <% }) %>
        </ul>
      </article>
    </section>
    <p class="end-comment">테스트에 통과하지 못했습니다.</p>
    <form action="/" method="GET">
      <button class="home-button" type="submit">홈으로</button>
    </form>
  </body>
</html>
