<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header') %>

    <div class="container msg">
      <p class="basic-msg">
        Test <strong class="line-color02">failed</strong>.
      </p>
      <div class="basic-box">
        <p class="error-msg title">
          <strong>Test Code:</strong>
          <%= testCode %>
        </p>
        <pre class="error-msg stack fail-info txt-red">
<span class="txt-green">Expected: <%= expected %></span><span class="received txt-red">Received: <%= received %></span>
<span class="scroll-x"><%= errStack %></span>
        </pre>
      </div>
      <button type="button" class="btn-basic space-top btn-back">Go Back</button>
    </div>
    <script>
      document.querySelector('.btn-back').addEventListener('click', () => history.back());
    </script>
  </body>
</html>
