<h1><%= problem.title %></h1>
<p>난이도: level <%= problem.difficultyLevel %></p>
<p>정답자: <%= problem.completedUsers %>명</p>
<p><%= problem.description %></p>

<div>
  <form action="/problems/<%= problem.id %>" method="POST">
    <textarea id="code" name="code"><%= prevCode %></textarea>
    <button class="button" type="submit">Submit</button>
  </form>
</div>
<div class="result-container">
  <% results.forEach((result) => { %>
    <div class="result">
      <div class="<%= result.testResult %>">결과 : <%= result.testResult %>(<%= result.time %>ms)</div>
      <div>케이스 : <%= result.testCase %></div>
      <div>실행값 : <%= result.actual %></div>
      <div>기댓값 : <%= result.expected %></div>
    </div>
  <% }); %>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/mode/javascript/javascript.min.js"></script>

<script>
  const cm = new CodeMirror.fromTextArea(document.getElementById("code"), {
    lineNumbers: false,
    lineWrapping: false,
    tabSize: 2,
    mode: "javascript",
    theme: "monokai",
  });
</script>
