<!DOCTYPE html>
<html>
  <head>
    <%- include ./includes/head.ejs %>
  </head>
  <body>
    <%- include ./includes/header.ejs %>
    <div class="container">
      <div class="failure-box">
        <div>
          <div class="failure-info"><%= error.message ? error.message : null %></div>
          <% if(error.testCase) { %>
          <div>테스트케이스가 '<%= error.testCase %>' 일 경우를 확인해보세요.</div>
          <%} %>
          <div class="failure-button-box">
            <a class="failure-button" href="<%= problemId %>">문제로 돌아가기</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
