<!DOCTYPE html>
<html>

<head>
  <title>Codewars</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/failure.css' />
</head>

<body>
  <%- include('partials/logo') %>
  <%- include('partials/logout') %>

  <div class='failure'>
    <h3>틀렸습니다!</h3>

    <div class='fail'>

      <% for (let i = 0; i < failureList.length; i++) { %>
        <div>
          <% if (failureList[i].error) { %>
            <p><%= failureList[i].error %></p>
          <% } else { %>
            <p>Case : <%= failureList[i].case %></p>
            <p>실행한 결괏값 <%= failureList[i].result %>이(가) 기댓값 <%= failureList[i].expected %>와(과) 다릅니다.</p>
          <% } %> 
        </div>
      <% } %>

    </div>
  </div>
</body>

</html>
