<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%-include("partials/title"); %>
    <%-include("partials/menu"); %>
    <h3 id="result-title"><%=name%></h3>
    <div id="result-container">
      <span><%=message%></span>
      <article><%=stack%></article>
      <%- include("partials/back", {originalUrl})%>
    </div>
  </body>
</html>


