<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>CodeWars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
  </head>
  <body>
    <header>
      <a href="/">
        <img
          class="logo"
          src="https://www.co.midland.tx.us/ImageRepository/Document?documentId=1230"
          alt="codewars"
        />
      </a>
      <p class="slogan">
        코딩 전쟁이 일어난다! 모든 대원들 전투준비!
      </p>
      <div class="section-user">
        <% if (user) { %>
        <span class="profile">
          <img src="<%= user.thumbnail %>" alt="<%= user.username %>" />
          <span class="name"><%= user.username %></span>
        </span>
        <a href="/login/logout">Logout</a>
        <% } else { %>
        <a href="/login">Login</a>
        <% } %>
      </div>
    </header>
    <section class="information">
      <h1>안타깝네요. 다시 한번 풀어보세요!</h1>
      <% if (message) { %>
      <p><%= message %></p>
      <% } %>
      <ul class="results">
        <% if(results) { %> <% results.forEach(function(result, index){ %>
        <li>
          <p><%= index+1 %>번 테스트</p>
          <p class="message"><%= result.message %></p>
          <p>기대값 : <%= result.expect %></p>
          <p>결과값 : <%= result.answer %></p>
        </li>
        <% }) } %>
      </ul>
      <p><a class="button back">다시풀기</a></p>
    </section>
  </body>
  <script>
    const btnBack = document.querySelector('.back');
    btnBack.addEventListener('click', () => {
      history.back();
    });
  </script>
</html>
