<%# views/failure.ejs %>
<% extend('layout') %>

<section class='failure'>
  <% if (error) { %>
  <h1><%= error.message %></h1>
  <h2><%= error.status %></h2>
  <a href='/problem/<%=problemId%>'>다시 풀기</a>
  <% } else { %>
  <div class='failure-container'>
    <p>다시 도전하세요 :(</p>
    <div class='failure-description'>
      <div class='failure-reson'>
        input
      </div>
      <h3><%= input %></h3>
    </div>
    <div class='failure-description'>
      <div class='failure-reson'>
        output
      </div>
      <h3><%= output %></h3>
    </div>
    <div class='failure-description'>
      <div class='failure-reson'>
        expect
      </div>
      <h3><%= expect %><h3>
    </div>
    <div class='backTo-main-btn'>
      <a href='/'>다른 문제 풀기</a>
    </div>
  </div>
  <% } %>
</section>
