<%- include("partial/header") %>

<div>
  <h1>Codewars</h1>
  <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>

  <ul class="tabs">
    <li>
      <a href="/problems/level/1">Level 1</a>
    </li>
    <li>
      <a href="/problems/level/2">Level 2</a>
    </li>
    <li>
      <a href="/problems/level/3">Level 3</a>
    </li>
  </ul>

  <ul class="problems">
    <% for (const problem of problems) { %>
      <li>
        <a href="/problems/<%= problem.id %>">
          <div><%= problem.title %></div>
          <div>정답자: <%= problem.completedUsers %></div>
          <div>난이도: <%= problem.difficultyLevel %></div>
        </a>
      </li>
    <% } %>
  </ul>
</div>
