<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
  <div class="wrapper">
    <div class="list">
      <%- include("partial/header") %>
      <h1 class="title"><%= title %></h1>
      <ul class="tabs">
        <li>
          <a href="/problems/level/1">Level 1</a>
        </li>
        <li>
          <a href="/problems/level/2">Level 2</a>
        </li>
        <li>
          <a href="/problems/level/3">Level 3</a>
        </li>
      </ul>
    </div>
    <div class="problem-container">
      <ul class="problems">
        <% for (const problem of problems) { %>
          <li class="problem">
            <a href="/problems/<%= problem.id %>">
              <div><%= problem.title %></div>
              <div>정답자: <%= problem.completedUsers %></div>
              <div>난이도: <%= problem.difficultyLevel %></div>
            </a>
          </li>
          <% } %>
        </ul>
      </div>
    </body>
  </div>
</html>
