<%- include("./partial/header") %>
<div>
  <h1>Codewars</h1>
  <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>

  <ul class="tabs">
    <li>Level 1</li>
    <li>Level 2</li>
    <li>Level 3</li>
  </ul>

  <ul class="problems">
    <% for (const problem of problems) { %>
      <li>
        <a href="/problems/<%= problem.id %>">
          <div><%= problem.title %></div>
          <div>정답자: <%= problem.completed_users %></div>
          <div>난이도: <%= problem.difficulty_level %></div>
        </a>
      </li>
    <% } %>
  </ul>
</div>
