<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header') %>
    
    <div><%= success_msg %></div>
    <div class="container">
      <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>

      <ul class="tabs">
        <li>Level 1</li>
        <li>Level 2</li>
        <li>Level 3</li>
      </ul>
  
      <ul class="problems">
        <% for (let i = 0; i < problems.length; i++) { %>
          <li>
            <a href="/problems/<%= problems[i]._id %>">
              <span class="title">
                <%= problems[i].title %>
              </span>
              <span>
                정답자: 
                <%= problems[i].completed_users.length %>
              </span>
              <span>
                난이도: Level
                <%= problems[i].difficulty_level %>
              </span>
            </a>
          </li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
