<h1>Codewars</h1>
<h2>코딩 전쟁이 일어난다. <%= name%>대원, 전투 준비!</h2>

<nav class="tabs">
  <a href="/">All</a>
  <a href="/1">Level 1</a>
  <a href="/2">Level 2</a>
  <a href="/3">Level 3</a>
</nav>

<div class="problems">
  <% problems.forEach((problem) => { %>
    <form class="problem" action="/problems/<%= problem.id %>" method="GET">
      <div><%= problem.title %></div>
      <div>정답자: <%= problem.completedUsers %>명</div>
      <div>난이도: Level <%= problem.difficultyLevel %></div>
      <button class="button" type="submit">도전</button>
    </form>
  <% }); %>
</ul>
