<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a class='google-btn' href='/logout'>Logout
    </a>
    <img height='45' width='45' src='<%= user.thumbnail %>' />
    <h1><%= user.userName %></h1>
    <h1>Codewars</h1>
    <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>

    <div class='problems'>
      <% problems.forEach(function(result){ %>
        <div onclick='location.href="/problems/<%= result._id %>"'>
          <div><%= result.title %></div>
          <div>정답자: <%= result.completed_users %></div>
          <div>난이도: Level <%= result.difficulty_level %></div>
          <div> ----------------- </div>
        </div>
      <%  }); %>
    </div>
  </body>
</html>
