<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link href="https://fonts.googleapis.com/css?family=Lobster|Ubuntu&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="home">
      <div class="header">
        <div class="logo">Codewars</div>
        <div class="user-logout">
          <span class="hi">Hi, <%= user.name.givenName %></span>
          <button class="logout-button" onClick="location.href='/logout'">Logout</button>
        </div>
      </div>

      <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>

      <ul class="problems">
        <% for(let i = 0; i < problem.length; i++) {%>
          <a href='/problems/<%= problem[i].id%>'>
            <li class='problem'>
              <div class='title'><%= problem[i].title%></div>
              <div class='completed'>문제푼사람: <%= problem[i].completed_users%></div>
              <div class='level'>LV <%= problem[i].difficulty_level%></div>
            </li>
          </a>
        <%}%>
      </ul>
    </div>
  </body>
</html>
