<!DOCTYPE html>
<html>
  <head>
    <%- include ./includes/head.ejs %>
  </head>
  <body>
    <%- include ./includes/header.ejs %>
    <div class="container">
      <% problemList.map(problem => { %>
      <a class="problem-box" href="/problem/<%= problem.id %>">
        <div class="problem-title-box">
          <%= problem.title %>
        </div>
        <div class="problem-info-boxs">
          <div>
            Level <%= problem.difficulty_level %>
          </div>
          <div class="problem-completed-users-box">
            <%= problem.completed_users %>명 완료
          </div>
        </div>
      </a>
      <% }) %>
    </div>
  </body>
</html>
