<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <button id='logout'>로그아웃</button>
    <h1>Codewars</h1>
    <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>
    <ul class="problems">
      <% problems.forEach(problem => { %>
        <li>
          <a href='/problems/<%= problem.problemNumber %>'><%= problem.title %></a></br>
          <%= problem.description %></br>
          난이도: <%= problem.difficulty_level %></br>
          맞힌 사람 수: <%= problem.completed_users %>
        </li>
      <% }) %>
    </ul>
  </body>
  <script src='/javascripts/clientLogout.js'></script>
</html>
