<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2|Gamja+Flower&display=swap" rel="stylesheet"></head>
  <body>
    <header class="mainHeader">
      <a href="/"><h1>CODEWARS</h1></a>
      <% if (!!users[0]) { %>
        <ul class="userInfo">
          <% users.forEach(function(userInfo){ %>
            <li><a href="/logout">Logout</a></li>
            <li><img class="userImg" src="<%= userInfo.imageUrl %>" /></li>
            <li><a href="<%= userInfo.githubUrl %>"><%= userInfo.name %></a></li>
            <li>( 1️⃣<%= userInfo.solved_level.difficulty_level_one %></li>
            <li>2️⃣<%= userInfo.solved_level.difficulty_level_two %></li>
            <li>3️⃣<%= userInfo.solved_level.difficulty_level_two %> )</li>
          <% }) %>
        </ul>
      <% } %>
    </header>
    <hr />
    <section class="mainSection">
      <% if (problems.length) { %>
        <% problems.forEach(function(problem){ %>
          <ul class="problems">
            <li>
              <div class="problemLevel">Level <%= problem.difficulty_level %></div>
              <div class="problemTitle">
                <a href="/problem/<%= problem._id %>"><%= problem.title %></a>
              </div>
            </li>
            <li><div><%= problem.description %></div></li>
            <li class="problemInfo">
              <div>☑️ Made: <%= problem.made %></div>
              <div>☑️ Completed: <%= problem.completed_users %></div>
              <div>☑️ Recommendation: <%= problem.recommendation %></div>
            </li>
          </ul>
        <% }) %>
      <% } %>
    </section>
  </body>
</html>
