<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <% include ./partials/header %>
    <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>
    <ul class="tabs">
      <li><a href="/level/1">Level 1</a></li>
      <li><a href="/level/2">Level 2</a></li>
      <li><a href="/level/3">Level 3</a></li>
      <li><a href="/level/4">Level 4</a></li>
    </ul>
    <% if (data.sortedUser) { %>
    <ul>
      <p>현재 순위</p>
      <% data.sortedUser.forEach(user => { %>
      <li>
        <span><%=user.name%></span>
        <span><%=user.rating%>점</span>
      </li>
      <% }) %>
    </ul>
    <% } %> <% if (data.problemList.length !== 0) { %>
    <ul>
      <% data.problemList.forEach(problem => { %>
      <li>
        <a href="/problem/<%=problem._id%>">
          <div><%=problem.title%></div>
          <div>정답자: <%=problem.completedCount%>명</div>
          <div>난이도: <%=problem.difficulty%></div>
        </a>
      </li>
      <% }) %>
    </ul>
    <% } %>
    <div>
      <% if (data.problemList.length === 0) { %>
      <span>문제가 곧 업데이트 예정입니다!</span>
      <% } %>
    </div>
    <% include ./partials/footer %>
  </body>
</html>
