<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class='navbar'>
      <%if(user){%>
        <%-include('navbar')%>
      <%}%>
    </div>
    <div class='main-section'>
      <div class='header'>
        <h1>Codewars</h1>
        <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>
      </div>
      <div class='info-section'>
        <div class='info-wrapper'>
          <ul class='level-list'>
            <p class=type>DIFFICULTY</p>
            <li class=level-style>Level 1</li>
            <li class=level-style>Level 2</li>
            <li class=level-style>Level 3</li>
          </ul>
        </div>
      </div>
      <div class='item-section'>
        <ul class='problem-list'>
          <%if(problems){
            for(let i = 0; i < problems.length; i++){%>
              <li class='problem'>
                <a href='/problems/<%=problems[i]._id %>'>
                  <p class='type'>PROBLEM</p>
                  <h2><%= problems[i].title %></h2>
                  <p>
                    <span>Completed</span>
                    <span><%= problems[i].completed_users %></span>
                    <span>users</span>
                  </p>
                  <p></p><span class='level-style'>Level <%= problems[i].difficulty_level %></span></p>
                </a>
              </li>
            <%}}%>
          </ul>
      </div>
    </div>
  </body>
</html>
