<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <header>
      <% include ./header %>
    </header>
    <div class="grid-wrapper">
      <div class="grid-container">
        <div class="grid-item">난이도</div>
        <div class="grid-item">제목</div>
        <div class="grid-item">제출</div>
        <div class="grid-item">정답</div>
        <div class="grid-item">정답 비율</div>
        <% for (let i = 0; i < problems.length; i++) { %>
          <div class="grid-item"><%= problems[i].difficulty_level %></div>
          <div class="grid-item">
            <a href="<%= `/problems/${problems[i].id}` %>">
              <%= problems[i].title %>
            </a>
          </div>
          <div class="grid-item"><%= problems[i].submission %></div>
          <div class="grid-item"><%= problems[i].accepted %></div>
          <div class="grid-item"><%= acceptedRatio[i] %>%</div>
        <% } %>
      </div>
    </div>
  </body>
</html>
