<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <header>
      <% include ./header %>
    </header>
    <div class="grid-wrapper">
      <div class="grid-container">
        <div class="grid-item"><span>난이도</span></div>
        <div class="grid-item"><span>제목</span></div>
        <div class="grid-item"><span>제출</span></div>
        <div class="grid-item"><span>정답</span></div>
        <div class="grid-item"><span>정답 비율</span></div>
        <% for (let i = 0; i < problems.length; i++) { %>
          <div class="grid-item"><span><%= problems[i].difficulty_level %></span></div>
          <div class="grid-item">
            <span>
              <a href="<%= `/problems/${problems[i].id}` %>">
                <%= problems[i].title %>
              </a>
            </span>
          </div>
          <div class="grid-item"><span><%= problems[i].submission %></span></div>
          <div class="grid-item"><span><%= problems[i].accepted %></span></div>
          <div class="grid-item"><span><%= acceptedRatio[i] %>%</span></div>
        <% } %>
      </div>
    </div>
  </body>
</html>
