<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/mainPage.css" />
  </head>
  <body>
    <%- include("partial/header") %>
    <ul class="problems">
      <% problems.forEach(problem => { %>
        <li class="problem">
          <article class="problem-setting">
            <p>Your Challenge</p>
            <div class="language">
              Javascript
              <img src="/image/check.png" alt="check-img">
            </div>
            <form action="/problems/<%= problem._id %>">
              <button type="submit">TRAIN</button>
            </form>
          </article>
          <article class="problem-Info">
            <div class="problem-header">
              <div class="problem-level">
                <span>
                  <%= problem.difficulty_level %> level
                </span>
              </div>
              <p><%= problem.title %></p>
            </div>
            <p>Passer: <%= problem.completed_list.length %>명</p>
            <p>설명: <%= problem.description %></p>
          </article>
        </li>
      <%  }) %>
    </ul>
  </body>
</html>
