<%- include("partials/header") %>
<div class="main">
  <div class="problem-board">
    <% problems.forEach((problem) => { %>
      <a class="problem" link href="/problems/<%= problem._id %>">
        <div class="problem-content">
          <div class="problem-content-title"><%= problem.title %></div>
          <div class="problem-content-level">Level: <%= problem.difficulty_level %></div>
          <div class="problem-complited">complited: <%= problem.completed_users %></div>
        </div>
      </a>
    <% }) %>
  </div>
</div>
