<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/list.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/problem.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="list-container">
      <ul class="problems">
        <% problems.forEach(problem => { %>
          <a href="/problems/<%= problem._id %>">
            <li class="problem">
              <div class="problem-info">
                <div class="title">
                  | 레벨<%= problem.difficulty_level %> |
                  <%= problem.title %>
                </div>
                <div class="passed-user-info">
                  <%= problem.completed_users.length %>명 통과
                </div>
              </div>
            </li>
          </a>
        <%})%>
      </ul>
    </div>
  </body>
</html>
