<%# views/index.ejs %>
<% extend('layout') %>

<% if (!user) { %>
<a href='/login' id=>로그인을 하세요</a>
<% } else { %>
<h1>Codewars</h1>
<h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>
<section class='problems'>
  <div class='problems-container'>
    <% for(var i=0; i<problems.length; i++){ %>
    <a href='/problem/<%=problems[i]._id%>'>
      <div class='problem'>
        <h1><%= problems[i].title %></h1>
        <div class='problem-details'>
          <div class='problem-detail'>LEVEL <%= problems[i].difficulty_level %></div>
          <div class='problem-detail'>solution<%= problems[i].solution_count %>개</div>
          <div class='problem-detail'>정답자<%= problems[i].completed_users %>명</div>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</section>
<% } %>
