<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <%-include("header")%>
    <main class="main">
      <h2 class="problems-title">Problems</h2>
      <ul class="problems">
        <%  for (const problemItem of problemList) { %>
          <a class="problem-link"
            href="problems/<%=problemItem.problem.id%>"
          >
            <li
              class=
                "problem-item
                <% if (problemItem.isSolved) { %>
                  solved
                <% } else { %>
                  not-solved
                <% } %>""
            >
              <h3 class="problem-title">
                <%=problemItem.problem.title %>
              </h3>
              <div class="problem-info-box">
                <div
                  class="level level<%=problemItem.problem.difficulty_level%>"
                >
                  Level <%=problemItem.problem.difficulty_level%>
                </div>
                <div class="complete-user">
                  ✔️ : <%=problemItem.problem.completed_users%>
                </div>
              </div>
            </li>
          </a>
        <%  } %>
      </ul>
    </main>
  </body>
</html>
