<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap' rel='stylesheet'>
  </head>
  <body>
    <div class='wrap'>
      <header>
        <% include ./partials/header %>
        <h1><a href="/">Codewars</a></h1>
      </header>
      <table class='problem-tbl'>
        <colgroup>
          <col style='width:40px'>
          <col style='width:640px'>
          <col style='width:160px'>
          <col style='width:160px'>
        </colgroup>
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Difficulty</th>
            <th>completed</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < problems.length; i++) { %>
            <tr>
              <td><%= i + 1 %></td>
              <td><a href='<%= `/problems/${problems[i]._id}` %>'><%= problems[i].title %></a></td>
              <td><%= '🌟'.repeat(problems[i].difficultyLevel) %></td>
              <td><%= problems[i].completedUsers %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
