<div class="problems">
  <ul>
    <% for (const problem of problems) { %>
      <a href="/problems/<%= problem._id %>">
        <li>
          <div class="level">
            <span>Lv.<%= problem.difficulty_level %></span>
          </div>
          <div class="title">
            <span><%= problem.title %></span>
          </div>
          <div class="info">
            <% if (problem.completed_users) { %>
              <span><b><%= problem.completed_users.length %></b>명 통과</span>
            <% } %>
          </div>
        </li>
      </a>
    <% } %>
  </ul>
</div>

<%- contentFor('styles') %>
<link rel='stylesheet' href='/stylesheets/problems.css' />
