<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>바닐라코딩 프로그래머스</title>
  </head>
  <body>
    <div class="header">
        <span>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</span>
        <div>
          <span><%=username%></span>
          <span><a href="/logout">로그아웃</a></span>
        </div>
    </div>
    <div>
      <div class="sub">
        <img style="width:30px"src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANYAAADrCAMAAAAi2ZhvAAAAG1BMVEUAre////8Xr+/t9/0Aqu+v3PgAqO8Aq+4Ap++5tGgaAAABMUlEQVR4nO3PwRHCQBDAsCMEjv4rpoX9MIwSqwJ7PS5p/TvgN9qStCVpS9KWpC1JW5K2JG1J2pK0JWlL0pbkNlsv0GBrnZw92DqWZh9tOdqStCVpS9KWpC1JW5K2JG1J2pK0JWlL0pakLUlbkrYkbUnakrQlaUvSlqQtSVuStiRtSdqStCVpS9KWpC1JW5K2JG1J2pK0JWlL0pakLUlbkrYkbUnakrQlaUvSlqQtSVuStiRtSdqStCVpS9KWpC1JW5K2JG1J2pK0JWlL0pakLUlbkrYkbUnakrQlaUvSlqQtSVuStiRtSdqStCVpS9KWpC1JW5K2JG1J2pK0JWlL0pakLUlbkrYko6391nzOwdYTNNi6hLYkbUnakrQlaUvSlqQtSVuStiRtSdqStCVpS/IF7ohZcr8K7h8AAAAASUVORK5CYII="/>
        <span>: 해결한 문제</span>
      </div>
      <div class="problem-box">
        <% for(var i=0; i<problem.length; i++){ %>
          <div class="problems" data-set="<%=problem[i].id%>">
          <a href="/problems/<%=problem[i].id%>">
            <div class="problems-title"><%= problem[i].title %></div>
            <div class="problems-sub-title">
            <li><%= "정답자 : " + problem[i].completed_users +"명 완료"%></li>
            <li><%= "난이도 : Level " + problem[i].difficulty_level %></li>
          </div>
          </a>
          </div>
        <% } %>
      </div>
    </div>
  <script>
    var myVar = "<%= JSON.stringify(collect) %>";
    var tagB = document.getElementsByClassName("problems");
    for(let i = 0; i < JSON.parse(myVar).length; i++){
      tagB[JSON.parse(myVar)[i]-1].style.backgroundColor = "rgb(64,128,238)";
    }
  </script>
  </body>
</html>
