<div class="problems">
  <ul>
    <% for (const problem of problems) { %>
      <a href="/problems/<%= problem.id %>">
        <li>
          <div class="title">
            <span>Lv.<%= problem.difficulty_level %></span>
            <span><%= problem.title %></span>
          </div>
          <div class="info">
            <span>Completed Users : <%= problem.completed_users %></span>
          </div>
        </li>
      </a>
    <% } %>
  </ul>
</div>

<%- contentFor('styles') %>
<link rel='stylesheet' href='/stylesheets/problems.css' />