<!DOCTYPE html>
<html>

<head>
  <title>Codewars</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/index.css' />
</head>

<body>
  <%- include('partials/logo') %>
  <%- include('partials/logout') %>

  <div class='problems-list'>

    <% for (let i = 0; i < allProblems.length; i++) { %>
      <div class='problem'>
        <a href='/problems/<%= allProblems[i].id %>'>
          <strong><%= allProblems[i].title %></strong>
          <ul>
            <li>Level : <%= allProblems[i].difficulty_level %></li>
            <li>Completed Users : <%= allProblems[i].completed_users || 0 %></li>
          </ul>
        </a>
      </div>
    <% } %>
    
  </div>
</body>

</html>