<!DOCTYPE html>
<html>
  <head>
    <%- include ./includes/head.ejs %>
  </head>
  <body>
    <%- include ./includes/header.ejs %>
    <div class="container">
      <!-- <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>

      <ul class="tabs">
        <li>Level 1</li>
        <li>Level 2</li>
        <li>Level 3</li>
      </ul> -->

      <% problemList.map(problem => { %>
      <a class="problem-box" href="/problem/<%= problem.id %>">
        <div class="problem-title-box">
          <%= problem.title %>
        </div>
        <div class="problem-info-boxs">
          <div>
            Level <%= problem.difficulty_level %>
          </div>
          <div class="problem-completed-users-box">
            <%= problem.completed_users %>명 완료
          </div>
        </div>
      </a>
      <% }) %>
    </div>
  </body>
</html>
