<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
    <%- include("./header.ejs"); %>
    <main>
      <p class="main-title">
        <span class="typewriter font-dgm">PROBLEM LIST</span>
      </p>
      <div class="problem-list">
        <% problems.forEach(problem => { %>
          <a class="problem-box" href="<%= `/problems/${problem._id}` %>">
            <p class="title"><%= problem.title %></p>
            <ul>
              <li class="completed-users">completed_users: <%= problem.completed_users.length %></li>
              <li class="level">level: <%= problem.difficulty_level %></li>
            </ul>
          </a>
        <% }) %>
        </div>
    </main>
    <%- include("./footer.ejs"); %>
  </body>
</html>
