html
  head
    title Home
    meta(charset='utf-8')
    link(
      rel='stylesheet'
      href='/stylesheets/style.css'
    )
  body
    div.app
      div.header
        h1 HOME
        form.right(action='/logout', method='POST')
          input.button(type='submit', value='로그아웃')
      div.container
        if noProblems
          div.card= noProblems
        if problems
          ul.list
            each problem in problems
              li
                a(href= '/problem/' + problem._id)
                  div.card
                    div.problemInfo
                      span.title #{problem.title}
                      span.level Lv.#{problem.difficulty_level}
                      br
                      span.count - #{problem.completed_users}명이 해결한 문제
                    div.rightButton ❯
