<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class='wrap'>
      <%- include('partials/header') %>

      <ul class='problems'>

      <% if (problems !== null) {
        for (var i = 0; i < problems.length; i++) { %>
          <li>
            <a href='/problems/<%= problems[i]._id %>'>
              <p class='tit'><%= problems[i].title %></p>
              <p class='level'>Level <%= problems[i].difficulty_level %> ⋅ <%= problems[i].completed_users %>명 완료</p>
            </a>
          </li>
      <% }} %>

      </ul>

    </div>
  </body>
</html>
