<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <%- include('header',{login:login}); %>
    <h1><%=title %></h1>
    <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>
    <ul class="problems">
      <% for(var i=0; i < problems.length; i++) { %>

      <li>
        <form method="GET" action="/problem/<%=problems[i].id%>" method="GET">
          <% if(login){%>
          <div><input type="submit" value="문제 : <%=problems[i].title%>" /></div>
          <%} else {%>
          <div>
            <input type="button" onclick=pop() value="문제 : <%=problems[i].title%>" />
          </div>
          <%}%>
          <div>정답자: <%=problems[i].completed_users|| 0%></div>
          <div>난이도: <%=problems[i].difficulty_level%></div>
        </form>
      </li>
      <% } %>
    </ul>
    <script>
      function pop(){
        alert('로그인후 사용이 가능합니다');
      }
    </script>
  </body>
</html>
