<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/lib/codemirror.css">
    <script src="/lib/codemirror.js"></script>
    <script src="/mode/javascript/javascript.js"></script>
  </head>
  <body>
    <h1>Codewars</h1>
    <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>
    <button><a href="/logout">logout</a></button>

    <div className="code-container">
      <form
        class="code-form"
        action="/problems/<%= problem.id %>"
        method="POST"
      >
        <h1>test</h1>
        <div class="problems">
            <% problem.tests.forEach(function(test){ %>
              <li>
                <div><%= test.code %></div>
                <div><%= test.solution %></div>
              </li>
            <% }) %>
            <div><%= problem.title %></div>
            <div><%= problem.completed_users %></div>
            <div><%= problem.difficulty_level %></div>
            <div><%= problem.description %></div>
            <textarea id="editor" name="code"></textarea>
          </div>

        <input type="submit" class="submitbtn" value="submit" />
      </form>
    </div>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
