<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/problem.css' />
  </head>
  <body>
    <div class="problems">
      <% if(!problem.length) { %>
        <div>문제 준비 중 입니다.</div>
        <% } else { %>
        <% for(var i = 0; i < problem.length; i++) { %>
        <a class="problem" href='/problems/<%= problem[i]._id%>'>
          <p class="problems_level problem_level<%= problem[i].difficulty_level%>">
            LEVEL <%= problem[i].difficulty_level %>
          </p>
          <p class="problems_title title_level<%= problem[i].difficulty_level%>"><%= problem[i].title %></p>
          <div class="problems_completed-wrapper">
              <img class="problems_flag" src="/img/flag.png"/>
              <p class="problems_completed"><%= problem[i].completed_users %>명 완료</p>
          </div>
          <p  class="problems_des"><%= problem[i].description %></p>
        </a>
      <% } } %>
      </div>
  </body>
</html>
