<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="shortcut icon" href="http://www.google.com/s2/favicons?domain_url=http://www.codewars.com">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/codemirror.js" integrity="sha256-pgAXe8eqZbfrDV/LvFMS/3pERnYW+uUxA7Nm6y8l2uM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/mode/javascript/javascript.js" integrity="sha256-GsZ9RCRrOoGVNXGuxG/cqxEZSjuLhd2Ikd7itgdBKAY=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/codemirror.css" integrity="sha256-PWWDlCsO+b6rKHz9dgBeS5cqTmBbebfAtNXnEqy3Xvc=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/theme/dracula.css" integrity="sha256-Av32BJYI3djQ189kA7blslEzB0Dfw5N3T2i7ZHJ7PG4=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('header') %>
    <% action = `/problem/${problem._id}` %>
    <div class="container problem-container">
      <div class="problem-description-container">
        <div class="problem-description-title"><%= problem.title %></div>
        <div class="problem-description"><%= problem.description %></div>
        <div class="problem-sub-container">
          <div class="problem-sub-level problem-sub">
            <p class="p-title">Difficulty Level </p>
            <p><%= problem.difficulty_level %></p>
          </div>
          <div class="problem-sub-completed-users problem-sub">
            <p class="p-title">Completed Users </p>
            <p><%= problem.completed_users %></p>
          </div>
        </div>
      </div>
      <form class="problem-answer" action="<% action %>" method="POST">
        <textarea id="code" name="code"><%= problem.preset %></textarea>
        <input type="submit" value="SUBMIT" />
      </form>
    </div>

    <script src="/javascripts/index.js"></script>
  </body>
</html>
