<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/codemirror.css" integrity="sha256-PWWDlCsO+b6rKHz9dgBeS5cqTmBbebfAtNXnEqy3Xvc=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/theme/midnight.css" integrity="sha256-Av32BJYI3djQ189kA7blslEzB0Dfw5N3T2i7ZHJ7PG4=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/codemirror.js" integrity="sha256-pgAXe8eqZbfrDV/LvFMS/3pERnYW+uUxA7Nm6y8l2uM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/mode/javascript/javascript.js" integrity="sha256-GsZ9RCRrOoGVNXGuxG/cqxEZSjuLhd2Ikd7itgdBKAY=" crossorigin="anonymous"></script>
  </head>
  <body>
    <% problem.forEach(el => { %>
      <h1><%= el.title %></h1>

      <div><%= `Type: ${el.type}` %></div>
      <div><%= `Level: ${el.difficulty_level}` %></div>
      <div class="description">
        <%= `Description: ${el.discription}` %>
      </div>

      <% el.notes.forEach((note, idx) => { %>
        <div><%= `Note ${idx + 1}: ${note}` %></div>
      <% }) %>

      <% el.tests.forEach((test, idx) => { %>
        <div><%= `입출력 예 ${idx + 1}: ${test.exampleCode}` %></div>
        <div><%= `return "${test.solution}"` %></div>
      <% }) %>

      <form action="/problem/<%= el.id %>" method="POST" name="codeForm">
        <textarea id='code' name="codeInput"></textarea>
        <input type="submit" value="submit">
        <a href="/">Home</a>
      </form>
    <% })%>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
