<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/problem.css' />
    <link rel='stylesheet' href='/codemirror/lib/codemirror.css' />
    <link rel='stylesheet' href='/codemirror/theme/ayu-dark.css' />
    <script src="/codemirror/lib/codemirror.js"></script>
    <script src="/codemirror/mode/javascript/javascript.js"></script>
  </head>
  <body>
    <%- include("./header.ejs"); %>
    <main>
      <div class="problem-box">
        <div class="code-box">
          <p class="quiz-title">
            <span class="typewriter blue"><%= problem.title %></span>
          </p>
          <p class="quiz-info">level: <%= problem.difficulty_level %> | completed_users: <%= problem.completed_users.length %></p>
          <p class="quiz-desc"><%= problem.description %></p>
          <p class="quiz-comment">
            /****** EXAMPLE ******/
          </p>
          <% problem.tests.forEach((test, index) => { %>
            <ul class="test-list">
              <li>// <%= index + 1 %></li>
              <li><%= test.code %></li>
              <li>>> <%= test.solution %></li>
            </ul>
          <% }) %>
        </div>
        <div class="editor-box">
          <p class="editor-title">
            <span class="light-saber-icon"></span>
            <span class="title">BATTLE</span>
            <span class="light-saber-icon right blue"></span>
          </p>
          <form id="code-form" action="<%= `/problems/${problem._id}` %>" method="POST">
            <textarea id="editor" name="code">
              <% if (submittedProblem) { %>
                <%= submittedProblem.code %>
              <% } else { %>
                function solution(arg) {&#13;&#10; // Your code here.. &#13;&#10;}
              <% } %>
            </textarea>
          </form>
        </div>
        <ul class="button-list">
          <li><button class="button big yellow" type="submit" form="code-form">SUBMIT</button></li>
          <li><a class="button big blue" href="/">GO TO PROBLEM LIST</a></li>
        </ul>
      </div>
    </main>
    <%- include("./footer.ejs"); %>
  </body>
  <script src="/javascripts/codemirrorConfig.js"></script>
</html>
