<%- include('partial/head') -%>
<%
  const { id, title, completed_users, difficulty_level, description, params } = problem;
%>

<section class="problem-detail">
  <ul>
    <li>Difficulty level: <%= difficulty_level %></li>
    <li>Completed users: <%= completed_users %></li>
  </ul>
  <div class="description box">
    <strong>문제 설명</strong>
    <p><%= description %></p>
  </div>
  <form action="/problems/<%= id %>" method="POST" id="editor-form">
    <div class="editor">
      <textarea id="code" name="code">function solution (<%= params.join(', ') %>) {
  // Your code..
}</textarea>
    </div>
    <div class="button-wrap">
      <button type="submit" class="box" id="submitButton">제출</button>
      <% if (user.isAdmin) { %>
        <a href="/problems/<%= id %>/addCase">테스트 케이스 추가하기</a>
      <% } %>
    </div>
  </form>
</section>
<%- include('partial/tail') -%>
