<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="http://www.google.com/s2/favicons?domain_url=http://www.codewars.com">
    <link rel="stylesheet" href="/codemirror/lib/codemirror.css" />
    <link rel="stylesheet" href="/codemirror/theme/dracula.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/codemirror/lib/codemirror.js"></script>
    <script src="/codemirror/mode/javascript/javascript.js"></script>
  </head>
  <body>
    <%- include('header') %>
    <% action = `/problem/${problem._id}` %>
    <div class="container problem-container">
      <div class="problem-description-container">
        <div class="problem-description-title"><%= problem.title %></div>
        <div class="problem-description"><%= problem.description %></div>
        <div class="problem-sub-container">
          <div class="problem-sub-level problem-sub">
            <p class="p-title">Difficulty Level </p>
            <p><%= problem.difficulty_level %></p>
          </div>
          <div class="problem-sub-completed-users problem-sub">
            <p class="p-title">Completed Users </p>
            <p><%= problem.completed_users %></p>
          </div>
        </div>
      </div>
      <form class="problem-answer" action="<% action %>" method="POST">
        <textarea id="code" name="code"><%= problem.preset %></textarea>
        <input type="submit" value="SUBMIT" />
      </form>
    </div>

    <script src="/javascripts/index.js"></script>
  </body>
</html>
