<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/stylesheets/codemirror/codemirror.css">
    <link rel="stylesheet" href="/stylesheets/codemirror/monokai.css">
    <link rel="stylesheet" href="/stylesheets/codemirror/duotone-dark.css">
    <link rel="stylesheet" href="/stylesheets/problem.css">
  </head>
  <body>
    <%- include('partials/header') %>

    <div class="container">
      <section class="problem-box level-<%= problemDetail.difficulty_level %>">
        <span class="info level">
          Level
          <%= problemDetail.difficulty_level %>
        </span>
        <span class="info completed">
          <%= problemDetail.completed_users.length %>명 완료
        </span>
        <h2 class="problem-title">
          <%= problemDetail.title %>
        </h2>
        <p class="problem-desc">
          <%= problemDetail.description %>
        </p>
      </section>
      <div class="solution-box">
        <h3 class="solution-title">SOLUTION :</h3>
        <form method="POST" action="/problems/<%= problemDetail._id %>" class="code-form">
          <textarea name="user_solution" id="code"></textarea>
          <button type="submit" class="btn-submit">SUBMIT</button>
        </form>
      </div>
    </div>

    <script src="/javascripts/codemirror/codemirror.js"></script>
    <script src="/javascripts/codemirror/javascript.js"></script>
    <script src="/javascripts/codemirror/codemirror_custom.js"></script>
  </body>
</html>
