<%- include('./partials/header'); %>
<div class="problem">
  <div class="problem-description">
    <h2><%= problem.title %></h2>
    <p><%= problem.description %></p>
  </div>
  <form action="<%= params %>" method="POST">
    <textarea id="edit-area" name="user_solution" class="problem-soultion">
      function solution() {}
    </textarea>
    <textarea id="test-cases" name="test" class="problem-test-cases">
      <%= list %>
    </textarea>
    <input type="submit" value="submit" />
  </form>
</div>
<script src="/javascripts/codemirror/codemirror.5.58.1.js"></script>
<script src="/javascripts/codemirror/mode/javascript.js"></script>
<script type="text/javascript" src="/javascripts/index.js"></script>
<%- include('./partials/footer'); %>
