<div>title: <%= problem.title %></div>
<div>Level: <%= problem.difficulty_level %></div>
<div>description: <%= problem.description %></div>

<% problem.tests.forEach((test) => { %>
  <div>example: <%= test.code %></div>
  <div>result: <%= test.solution %></div>
<% }) %>

<form method="post" action="/problems/<%= problem._id %>">
  <textarea id="code-area" name="solution">
    function solution(n) {
      return;
    }
  </textarea>
  <p>
    <input type="submit" value="Submit">
  </p>
</form>

<link rel="stylesheet" href="/codemirror/styles/codeMirror.css">
<script src="/codemirror/codemirror.js"></script>
<script src="/codemirror/mode/javascript.js"></script>
<script src="/javascripts/index.js"></script>
