<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
  <div class="main-container">
    <%- include('./partials/header') %>
    <div class="train-wrap">
      <div class="train-container">
        <div class="train-contents">
          <h2><%= problem.title %></h2>
          <span class="train-desc"><%= problem.description %></span>
          <p>난이도 : <%= problem.difficulty_level %></p>
          <p>정답자 수 : <%= problem.completed_users %></p>
        </div>
        <form method="post" action="/problems/<%= problem.id %>">
          <textarea name="script" id="code-editor"></textarea>
          <button type="submit" class="submit-button">SUBMIT</button>
        </form>
        <div class="buttons-container">
          <a href="/problems">
            <i class="fas fa-bars"></i>
          </a>
          <% const nextId = problem.id + 1 %>
          <% if (nextId < 5) { %>
          <a href="/problems/<%= nextId %>">
            <i class="fas fa-arrow-right"></i>
          </a>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <%- include('partials/codemirror') %>
</body>

</html>