html
  head
    title Problem
    meta(charset='utf-8')
    link(
      rel='stylesheet'
      href='/codemirror/lib/codemirror.css'
    )
    link(
      rel='stylesheet'
      href='/codemirror/theme/midnight.css'
    )
    link(
      rel='stylesheet'
      href='/stylesheets/style.css'
    )
  body
    div.app
      div.header
        h1
          a(href='/') HOME
        form.right(action='/logout', method='POST')
          input.button(type='submit', value='로그아웃')
      div.container
        div.question
          span.title= problemInfo.title
          span.level Lv.#{problemInfo.difficulty_level}
          br
          span.count #{problemInfo.completed_users}명이 해결한 문제
          div.description= problemInfo.description
        div.solve
          form#submitForm(
            action='/problem/' + problemInfo._id
            method='POST'
          )
            textarea#codemirror(
              name='submitCode'
            ) function solution() {
              |
              |   //..
              | }
            input.largeButton(
              type='submit'
              value='제출하기'
            )
    script(
      type='text/javascript'
      src='/codemirror/lib/codemirror.js'
    )
    script(
      type='text/javascript'
      src='/codemirror/mode/javascript/javascript.js'
    )
    script(
      type='text/javascript'
      src='/javascripts/index.js'
    )
