<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2|Gamja+Flower&display=swap" rel="stylesheet" />
    <script src="/codemirror/codemirror.js"></script>
    <link rel="stylesheet" href="/codemirror/codemirror.css" />
    <link rel="stylesheet" href="/codemirror/darcula.css" />
    <script src="/codemirror/javascript.js"></script>
  </head>
  <body>
    <%- include('./partials/header') %>
    <hr />
    <section class="problemSection">
      <article>
        <% if (problem.length) { %>
          <% problem.forEach(function(problemInfo){ %>
            <ul class="problemWrapper">
              <li class="problemTitleDetail"><%= problemInfo.title %></li>
              <li class="problemInfo">
                <div>☑️ Level <%= problemInfo.difficultyLevel %></div>
                <div>☑️ Made: <%= problemInfo.made %></div>
                <div>☑️ Completed: <%= problemInfo.completedUsers %></div>
              </li>
              <li><%= problemInfo.description %></li>
              <li class="problemTest">
                <div>< Example ></Example></div>
                <% problemInfo.tests.forEach(function(test){ %>
                  <div><%= test.code %> => <%= JSON.stringify(test.solution) %></div>
                <% }) %>
              </li>
            </ul>
          <% }) %>
        <% } %>
      </article>
      <article>
        <form action="/problems/<%= problem[0]._id %>" method="post">
          <textarea id="editor" name="solution">function solution() { }</textarea>
          <div class="probelmButtons">
            <button type="submit">Submit</button>
            <div class="goBackButton">Go Back</div>
          </div>
        </form>
      </article>
    </section>
    <script>
      const myCodeMirror = CodeMirror.fromTextArea(document.querySelector("#editor"), {
        mode:  "javascript",
        theme: "darcula",
        lineNumbers: true,
        lineWrapping: true,
        tabSize: 2,
      });

      myCodeMirror.setSize("auto", 300);

      document.querySelector(".goBackButton").addEventListener("click", () => {
        window.history.back();
      });
    </script>
  </body>
</html>
