<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/codeMirror/lib/codemirror.css" />
    <link rel="stylesheet" href="/codeMirror/theme/material-darker.css" />
  </head>
  <body>
    <% if (problem) { %>
      <h1><%= problem.title %></h1>
      <div>정답자 수 : <%= problem.completed_users %></div>
      <div>난이도 : <%= problem.difficulty_level %></div>
      <div>Instructions : <%= problem.description %></div>
      <form action="/problems/<%= problem._id %>" method="post">
        <p>Solution Code</p>
        <textarea
          name="submissionCode"
          class="editor"
        ></textarea>
        <button type="submit">제출</button>
      </form>
    <% } %>
    <script src="/codeMirror/lib/codemirror.js"></script>
    <script src="/codeMirror/addon/edit/closebrackets.js"></script>
    <script src="/codeMirror/addon/edit/matchbrackets.js"></script>
    <script src="/codeMirror/addon/selection/active-line.js"></script>
    <script src="/javascripts/editor.js"></script>
  </body>
</html>
