<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/detailProblem.css" />
    <link rel="stylesheet" href="/codemirror/lib/codemirror.css" />
    <link rel="stylesheet" href="/codemirror/theme/gruvbox-dark.css" />
    <script src="/codemirror/lib/codemirror.js"></script>
  </head>
  <body>
    <%- include("partial/header") %>
    <section class="problem-detail">
      <article class="detail-info">
        <div class="problem-header">
          <div class="problem-level">
            <span><%= problem.difficulty_level %> level</span>
          </div>
          <p class="problem-title"><%= problem.title %></p>
        </div>
        <p>정답자: <%= problem.completed_list.length %>명</p>
        문제 설명:
        <p><%= problem.description %></p>
      </article>
      <article class="codes">
        <div>
          <div class="problem-text">Solution:</div>
          <form
            id="submitText"
            action="/problems/<%= problem._id %>"
            method="POST"
          >
            <textarea id="code" name="submit_text"></textarea>
            <button class="submit-button" type="submit">제출</button>
          </form>
          <script>
            const editor = CodeMirror.fromTextArea(
              document.getElementById("code"),
              {
                lineNumbers: true,
                styleActiveLine: true,
                mode: "javascript",
                indentUnit: 2,
                identWithTabs: true,
                theme: "gruvbox-dark",
              },
            );

            editor.setValue(`function solution() {\n\n}`);
          </script>
        </div>
        <div>
          <div class="problem-text">Examples:</div>
          <article class="examples">
            <% problem.tests.forEach(test => { %>
              <div class="example">
                <p>예제 실행 코드: <%= test.code %><p>
                <p>결과: <%= test.solution %><p>
              </div>
            <% }) %>
          </article>
        </div>
      </article>
    </section>
  </body>
</html>
