<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/problem.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/theme/monokai.min.css" />
</head>

<body>
  <%- include('partials/header', {loginStatus}) %>

    <main>
      <form class="problem" action="/problems/<%= problem.id %>" method="post">
        <div class="title-container">
          <h3>
            <%= problem.title %>
          </h3>
        </div>

        <div class="contents-container">
          <div class="description-container">
            <p class="description">
              <%= problem.description %>
            </p>
          </div>
          <div class="code-container">
            <textarea class="code" name="code">
function solution(<%= problem.params.toString() %>) {
  let result;

  return result;
}
</textarea>
            <div class="test-container">
              <p class="test-title">실행 결과: </p>

              <div class="test-content">
                <% if (results) { %>
                  <% problem.tests.forEach((test, i)=> { %>
                    <p class="test">
                      <%= test.code %>
                    </p>
                    <p class="result <%= results[i] %>">
                      <%= results[i] %>
                    </p>
                    <% }); %>
                      <% } %>
              </div>

            </div>
          </div>
        </div>

        <div class="submit-container">
          <input class="submit" type="submit" value="submit" />
        </div>
      </form>
    </main>

    <script type="text/javascript" src="/javascripts/codemirror.min.js"></script>
    <script type="text/javascript" src="/javascripts/javascript.min.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
</body>

</html>
