<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/problem.css" />
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.css">
    </link>
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.js">
    </script>
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/mode/javascript/javascript.min.js">
    </script>
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/theme/material.min.css" />
  </head>
  <body>
    <%-include("header")%>
    <main class="main">
      <div class="play-box">
        <div class="instruction-box">
          <div class="instruction-box-header">
            Instruction :
          </div>
          <div class="title-box">
            <h1 class="title">
              <%= problem.title %>
            </h1>
            <div class="problem-info-box">
              <div class="level<%=problem.difficulty_level%>">
                Level <%= problem.difficulty_level %>
              </div>
              <div class="complete-users-box">
                ✔️ <%= problem.completed_users %>
              </div>
            </div>
          </div>
          <div class="description-box">
            <p class="description">
              <%= problem.description %>
            </p>
          </div>
        </div>
        <div class="editor-box">
          <div class="editor-box-header">
            Solution :
          </div>
          <form action="/problems/<%=problem.id%>/submit" method="post" class="editor-form">
            <textarea class="editor" name="code">function solution() {&#13;&#10;  // Your code...&#13;&#10;}</textarea>
            <button class="submit-button" type="submit">
              Submit
            </button>
          </form>
        </div>
      </div>
      <div class="control-box">
        <button class="problem-list-link-button">
          < Problem-list
        </button>
      </div>
    </main>
    <script src="../javascripts/problem.js"></script>
  </body>
</html>
