<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <script src="/javascripts/codemirror.js"></script>
    <link rel='stylesheet' href="/stylesheets/codemirror.css" />
    <script src="/codemirror/mode/javascript/javascript.js"></script>
    <script src="/codemirror/addon/edit/closebrackets.js"></script>
    <link href="/codemirror/theme/moxer.css" rel="stylesheet" />
  </head>
  <body>
    <%-include("title"); %>
    <%-include("menu"); %>
    <h1><%=problem.title%></h1>
    <article>문제 설명 : <%=problem.description%></article>
    <span>레벨 : <%=problem.difficulty_level%></span>
    <span>맞은 사람 수 : <%=problem.completed_users%></span>
    <% const address =`/problems/${problem.id}`%>
    <form method="POST" action=<%=address%>>
      <textarea id="editor" name="solution"><%=firstLine%></textarea>
      <input type="submit" value="submit"></button>
    </form>
  </body>
  <script>
    var editor = CodeMirror.fromTextArea
    (document.getElementById("editor"), {
      mode: "javascript",
      theme: "moxer",
      lineNumbers: true,
      autoCloseBrackets: true
    });
    editor.setSize("400", "500");
  </script>
</html>
