<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/css/problem.css">
  <title>Problem</title>
</head>
<body>
  <h1>Problem</h1>
  <h2>
    Level <%= problem.difficulty_level %> - <%= problem.title %>
  </h2>
  <div class="description">
    <span>
      제출완료자 - <%= problem.completed_users ? problem.completed_users : '0' %>명
    </span>
    <br><br>
    <%= problem.description %>
  </div>

  <form action="/problems/<%= problem.id %>" method="post">
    <div class="code-mirror">
      <textarea id="myTextarea" name="codeMirror" cols="30" rows="30"></textarea>
    </div>

    <input type="submit" value="정답 제출">
  </form>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/mode/javascript/javascript.min.js" integrity="sha512-e3U/84Fo+2ZAnRhLkjStm2hYnkmZ/NRmeesZ/GHjDhcLh35eYTQxsfSeDppx6Se5aX0N6mrygH7tr4wugWsPeQ==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/theme/hopscotch.min.css" integrity="sha512-sVeSVnAJXmUh3VZLbkOfp+td37wPdXnCjPDhuuxwYz3USskJRWIno4dlLxqo6DgPIzWwdlxl24KiHge0TvH5oA==" crossorigin="anonymous" />
  <script src="/codeMirror.js"></script>
</body>
</html>
