<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.6.0/codemirror.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.60.0/theme/base16-light.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.60.0/theme/3024-day.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.6.0/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.6.0/mode/javascript/javascript.min.js"></script>

<%- include("partials/header") %>

<div class="problem-wrapper">
  <div class="problem-header">
    <div class="problem-title">
      <h2><%= problem.title %></h2>
      <div class="problem-level">Level: <%= problem.difficulty_level %></div>
    </div>
  </div>

  <div class="problem-page-content">
    <div class="problem-information">
      <div class="problem-description">
        <h3><%= problem.description %></h3>
      </div>
    </div>
    <div class="problem-code">
      <div class="problem-code-title">Solution</div>
      <form method="post" action="/problems/<%= problem._id %>">
        <textarea id="answer-area" name="solution">
function solution(n) {
  return;
}
        </textarea>
        <div class="problem-code-title">Test</div>
        <textarea class="test-area" id="test-area" name="solution">
<% problem.tests.forEach((test) => { %>
example: <%= test.code %>
result: <%= test.solution %>
<% }) %>
        </textarea>
        <div class="problem-submit" >
          <input class="problem-submit-button" type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/javascripts/index.js"></script>
