<!DOCTYPE html>
<html>
  <head>
    <title>PROBLEM</title>
    <script src='/codemirror/lib/codemirror.js'></script>
    <link rel='stylesheet' href='/codemirror/lib/codemirror.css'>
    <script src='/codemirror/mode/javascript.js'></script>

    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/problem.css'>
  </head>
  <body>
    <div class='container'>
      <div>
        <a href='/'>
          <button class='secondary_button'>GO BACK TO MAIN</button>
        </a>
      </div>
      <div class='problem_detail_container'>
        <h2><%= problem.title %></h2>
        <div>Solved by <%= problem.completed_users %> users</div>
        <div>Difficulty level : <%= problem.difficulty_level %></div>
        <div><%= problem.description %></div>
        <hr/>
      </div>
      <div id='codemirror'></div>
      <form method='POST' action=<%= `/problems/${problem.id}` %>>
        <div class='code_input_container'>
        <input id='code_input' type='text' name='code' value='function solution(n) { }'/>
        </div>
        <button class='primary_button' type='submit'>Submit</button>
      </form>
    </div>
      <script>
        const myCodeMirror = CodeMirror.fromTextArea(document.getElementById('code_input'),{
          lineNumbers: true,
          mode: 'javascript'
        });
    </script>
  </body>
</html>
