<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/codemirror/lib/codemirror.js"></script>
  <script src="/codemirror/mode/javascript/javascript.js"></script>
  <link rel="stylesheet" href="/codemirror/lib/codemirror.css">
  <link rel="stylesheet" href="/codemirror/theme/dracula.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/problem.css">
  <title>Document</title>
</head>
<body>
  <header>
    <% include ./header %>
  </header>
  <div class="problem-wrapper">
    <div class="problem-left">
      <div class="">
        <h2><%= problem.id %>. <%= problem.title %></h2>
      </div>
      <div class="">
        <p><%= problem.description %></p>
      </div>
      <div class="">
        <p>
          Accepted: <%= problem.accepted %> Submissions: <%= problem.submission %>
        </p>
      </div>
    </div>
    <div class="problem-right">
      <form class="code-editor" action="<%= `/problems/${problem.id}` %>" method="post">
        <textarea name="solution" cols="30" rows="10"></textarea>
        <div class="button-wrapper">
          <input class="burning-button" type="submit" />
        </div>
      </form>
    </div>
  </div>
</body>
<script>
  const myCodeMirror = CodeMirror.fromTextArea(document.querySelector("textarea"), {
    mode:  "javascript",
    theme: "dracula",
    lineNumbers: true
  });

  myCodeMirror.getDoc().setValue("function solution(data) {\n  return ;\n}");
  // myCodeMirror.setSize("100%", "1000px");
</script>
</html>
