<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.60.0/codemirror.min.css" integrity="sha512-xIf9AdJauwKIVtrVRZ0i4nHP61Ogx9fSRAkCLecmE2dL/U8ioWpDvFCAy4dcfecN72HHB9+7FfQj3aiO68aaaw==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.60.0/theme/dracula.min.css" integrity="sha512-gFMl3u9d0xt3WR8ZeW05MWm3yZ+ZfgsBVXLSOiFz2xeVrZ8Neg0+V1kkRIo9LikyA/T9HuS91kDfc2XWse0K0A==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.60.0/codemirror.min.js" integrity="sha512-hc0zo04EIwTzKLvp2eycDTeIUuvoGYYmFIjYx7DmfgQeZPC5N27sPG2wEQPq8d8fCTwuguLrI1ffatqxyTbHJw==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.60.0/mode/javascript/javascript.min.js" integrity="sha512-isTDQTpVc8nKKMQmhm0b6fccRPjzo2g0q6l2VLy9/jDn5s8bEUu9WuSGkkAfN/NCwI3+Qi5wEVCaPRoWvT6YPw==" crossorigin="anonymous"></script>

<div class="flex-wrapper">
  <% include header.ejs %>

  <main class="problem-wrapper">

    <div class="problem-board">

      <div class="problem-info-wrapper">
        <div class="problem-title-board">
          <span><%= problem.title %> </span>
        </div>
        <div class="problem-info-board">
          Difficulty level <%= problem.difficulty_level %>
          /
          Completed user <%= problem.completed_users %>
        </div>
        <p class="problem-description-board">
          <%= problem.description %>
        </p>
      </div>

      <div class="problem-solution-wrapper">
        <form id="solution-board" action="/problem/<%=problem._id%>" method="POST">
          <textarea id="editor" name="solution">function solution() {};</textarea>
        </form>
      </div>
  
    </div>


    <button class="problem-submit-button" type="submit" form="solution-board">Submit</button>

  </main>

</div>

<script type="text/javascript" src="/javascripts/codemirror.js"></script>


