<%- include("./partial/header") %>

<div class="problem-container">
  <div class="problem-detail">
    <h2><%= problem.title %></h2>
    <div>정답자 <%= problem.completedUsers %>명</div>
    <div>Level <%= problem.difficultyLevel %></div>
    <p><%= problem.description %></p>
  </div>
  <div class="solution-container">
    <div class="a">
      <div class="">Solution:</div>
      <form action="/problems/<%= problem.id %>" method="POST" id="submit" target="result-viewer">
        <textarea id="editor" name="solution">
function solution(<%= parameter %>) {

}
        </textarea>
      </form>
    </div>
    <div class="result-viewer-container a">
      <div class="">Result:</div>
      <iframe id="result-viewer" name="result-viewer"></iframe>
    </div>
  </div>
  <button form="submit">ATTEMPT</button>
</div>

<script type="text/javascript" src="/javascripts/codemirror@5.60.0/codemirror.min.js"></script>
<script type="text/javascript" src="/javascripts/codemirror@5.60.0/javascript.min.js"></script>
<script type="text/javascript" src="/javascripts/codemirror@5.60.0/init.js"></script>
