<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/problem.css" />
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.css">
    </link>
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.js">
    </script>
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/mode/javascript/javascript.min.js">
    </script>
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/theme/material.min.css" />
  </head>
  <body>
    <%-include("header")%>
    <main class="main">
      <div class="play-box">
        <div class="instruction-box">
          <div class="instruction-box-header">
            Instruction
          </div>
          <div class="title-box">
            <h1 class="title">
              <%= problem.title %>
            </h1>
            <div class="problem-info-box">
              <div class="level<%=problem.difficulty_level%>">
                Level <%= problem.difficulty_level %>
              </div>
              <div class="complete-users-box">
                ✔️ <%= problem.completed_users %>
              </div>
            </div>
          </div>
          <div class="description-box">
            <p class="description">
              <%= problem.description %>
            </p>
          </div>
          <hr />
          <div class="example-box">
            <h3>Example</h3>
            <div class="example">
              <% for (const test of problem.tests) { %>
              <div class="example-input">
                >> <%= test.code %>
              </div>
              <div class="example-output">
                Result :
                <% if (typeof test.solution === "string") {%>
                  <%= `"${test.solution}"` %>
                <% } else { %>
                  <%= test.solution %>
                <% } %>
              </div>
              <% } %>
            </div>
          </div>
        </div>
        <div class="editor-box">
          <form
          action="/problems/<%=problem.id%>/submit"
          method="post"
          class="editor-form"
          id="code-form"
          >
            <div class="editor-box-header">
              Solution
            </div>
            <textarea
              class="editor"
              name="code"
            ><% if (result) {%><%= result.code %><% } else { %>function solution() {&#13;&#10;  // Your code...&#13;&#10;}<% } %></textarea>
          </form>
          <div class="result-box">
            <div class="result-box-header">
              Result
            </div>
            <pre class="result"><% if (result) {%><p class="log">- log -</p>&#13;&#10;<% for (const log of result.log) { %><%= log + "\n" %><% } %><p class="result-log">- result -</p>&#13;&#10;<%= result.result %><% } else { %><p class="log">- log -</p>&#13;&#10;<p class="result-log">- result -</p><% } %></pre>
          </div>
        </div>
      </div>
      <div class="footer">
        <button class="problem-list-link-button">
          < Problem-list
        </button>
        <button class="submit-button" type="submit" form="code-form">
          Submit
        </button>
      </div>
    </main>
    <script src="../javascripts/problem.js"></script>
  </body>
</html>
