<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
        <div>
            <!-- 문제의 상세 정보(문제 이름, 정답자 수, 문제 레벨, 
                그리고 문제에 대한 설명 등)을 화면에 보여주세요 -->
            <div>문제이름: <%= problemTitle %></div>
            <div>정답자 수: <%= completed_users %></div>
            <div>문제 레벨: <%= level %></div>
            <div>문제 설명: <%= description %></div>
            <form>
                <textarea></textarea>
                <input type="submit">
            </form>
        </div>
    </div>
  </body>
</html>
