<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.6.0/codemirror.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.6.0/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.6.0/mode/javascript/javascript.min.js"></script>

<div>title: <%= problem.title %></div>
<div>Level: <%= problem.difficulty_level %></div>
<div>description: <%= problem.description %></div>

<% problem.tests.forEach((test) => { %>
  <div>example: <%= test.code %></div>
  <div>result: <%= test.solution %></div>
<% }) %>

<form method="post" action="/problems/<%= problem._id %>">
  <textarea id="code-area" name="solution">
    function solution(n) {
      return;
    }
  </textarea>
  <p>
    <input type="submit" value="Submit">
  </p>
</form>

<script src="/javascripts/index.js"></script>
