<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/lib/codemirror.js"></script>
    <script src="/lib/mode/javascript.js"></script>
    <script src="/lib/addon/edit/closebrackets.js"></script>

    <link rel="stylesheet" href="/lib/codemirror.css" />
    <link rel="stylesheet" href="/lib/theme/darcula.css" />
  </head>
  <body>
    <a href="/logout">Logout</a>
    <h1>Codewars</h1>
    <h2 class='title'><%= problem.title %></h2>
    <div class=''><%= problem.difficulty_level %></div>
    <div class=''><%= problem.completed_users %></div>
    <div class=''><%= problem.description %></div>
    <form method='POST' action=<%= `/problems/${problem._id}` %>>
      <textarea id='demotext' name="code"></textarea>
      <input type='submit' value='제출하기' />
    </form>
    <script>
      var editor = CodeMirror.fromTextArea(document.getElementById('demotext'), {
        lineNumbers: true,
        autoCloseBrackets: true,
        mode: 'javascript',
        theme: 'darcula'
      });
    </script>
  </body>

</html>
