<!DOCTYPE html>
<html>
  <head>
    <title>Problems</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/codemirror.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/codemirror.min.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous">
    </script>
  </head>
  <body>
    <ul class="problems">
      <li>
        <div><%= title %></div>
        <div>정답자: <%= completed_users %></div>
        <div>난이도: <%= difficulty_level %></div>
        <div>설명: <%= description %></div>
      </li>
    </ul>
    <form action='/problems/<%= id %>' method="POST">
      <label for="exampleFormControlTextarea1">솔루션 코드를 작성하세요</label>
      <textarea name="solution" id="tA" class="form-control" rows="4"></textarea>
      <button type="submit" class="btn btn-success">
        Submit
      </button>
    </form>
    <script>
      var myCodeMirror = CodeMirror.fromTextArea(document.querySelector('#tA'),
        {
          mode: "javascript",
          lineNumbers: true,
          lineWrapping: true
        }
      );
    </script>
  </body>
</html>
