<!DOCTYPE html>
<html>

<head>
  <title>problem</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/codemirror.min.js'></script>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/codemirror.min.css'>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/mode/javascript/javascript.min.js'></script>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.0/theme/material.min.css'>

</head>

<body>
  <%- include('partials/header') %>

  <div>
    <h1><% problem.title %></h1>

    <ul>
      <li>
        <span>이름 <%= problem.title %></span>
      </li>
      <li>
        <span>레벨 <%= problem.difficulty_level %></span>
      </li>
      <li>
        <span>완료 인원 <%= problem.completed_users %></span>
      </li>
      <li>
        <span>설명 <%= problem.description %></span>
      </li>
    </ul>

    <form action='<%= problem.id %>' method='POST'>
      <textarea id='codeEditor' name='problem_solution'></textarea>
      <button type='submit'>제출</button>
    </form>
  </div>

  <script>
    const editor = CodeMirror.fromTextArea(document.getElementById('codeEditor'), {
      lineNumbers: true,
      theme: 'material'
    });
  </script>
</body>

</html>