<%- include('partial/head') -%>
<%
  const { id, title, completed_users, difficulty_level, description } = problem;
%>

<section class="problem-detail">
  <div class="header">
    <h3 class="title"><%= title %></h3>
    <ul>
      <li>Difficulty level: <%= difficulty_level %></li>
      <li>Completed users: <%= completed_users %></li>
    </ul>
  </div>
  <div class="description box">
    <strong>문제 설명</strong>
    <p><%= description %></p>
  </div>
  <form action="/problems/<%= id %>" method="POST" id="editor-form">
    <div class="editor">
      <textarea id="code" name="code">function solution () {
  // Your code..
}</textarea>
    </div>
    <button type="submit" class="box" id="submitButton">제출</button>
  </form>
</section>
<%- include('partial/tail') -%>
