<!DOCTYPE html>
<html>
  <head>
    <title>Problem</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel="stylesheet" href="/codemirror/lib/codemirror.css">
    <link rel='stylesheet' href='/stylesheets/problem.css' />
  </head>
  <body>
    <div class="problem-container">
      <% include ./header %>
      <section class="problem-section">
        <h2><%= problem.title %></h2>
        <p><%= problem.description %></p>
        <p><%= `정답자: ${problem.completed_users}` %></p>
        <p><%= `난이도: Level ${problem.difficulty_level}` %></p>
      </section>
      <form action=<%= `/problems/${problem.id}` %> method="post">
        <textarea class="code-input" name="solution">function solution() {}</textarea>
        <input type="submit" value="제출">
      </form>
    </div>
    <script type="text/javascript" src="/codemirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="/javascripts/codeMirror.js"></script>
  </body>
</html>
