<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/codemirror.css" />
    <link rel="stylesheet" href="/codemirror/theme/moxer.css" />
    <script src="/javascripts/codemirror.js"></script>
    <script src="/codemirror/mode/javascript/javascript.js"></script>
    <script src="/codemirror/addon/edit/closebrackets.js"></script>
  </head>
  <body>
    <%-include("partials/title"); %>
    <%-include("partials/menu"); %>
    <div id="problem-container">
      <div id="description-container">
        <h3 id="problem-title"><%=problem.title%></h3>
        <article id="description">문제 설명 : <%=problem.description%></article>
        <span>레벨 : <%=problem.difficulty_level%></span>
        <span>맞은 사람 수 : <%=passed %> </span>
      </div>
      <div id="sandbox-container">
        <% const address =`/problems/${problem.id}`%>
        <form id="sandbox" method="POST" action=<%=address%>>
          <textarea id="editor" name="solution"><%=firstLine%></textarea>
          <button id="submit-button" type="submit">submit</button>
        </form>
      </div>
    </div>
  </body>
  <script>
    const editor = CodeMirror.fromTextArea
    (document.getElementById("editor"), {
      mode: "javascript",
      theme: "moxer",
      lineNumbers: true,
      autoCloseBrackets: true
    });
    editor.setSize("500", "450");
  </script>
</html>
