<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/codemirror/lib/codemirror.js"></script>
  <script src="/codemirror/mode/javascript/javascript.js"></script>
  <link rel="stylesheet" href="/codemirror/lib/codemirror.css">
  <link rel="stylesheet" href="/codemirror/theme/dracula.css">
  <title>Document</title>
</head>
<body>
  <div>
    <%= problem.title %>
  </div>
  <div>
    <%= problem.completed_users %>
  </div>
  <div>
    <%= problem.difficulty_level %>
  </div>
  <div>
    <%= problem.description %>
  </div>
  <div id="codeEditor">
    문제에 대한 해답을 solution 함수안에 담아서 작성해주세요.
    <form action="<%= `/problems/${problem.id}` %>" method="post">
      <textarea name="solution" cols="30" rows="10"></textarea>
      <input type="submit">
    </form>
  </div>
</body>
<script>
  const myCodeMirror = CodeMirror.fromTextArea(document.querySelector("textarea"), {
    mode:  "javascript",
    theme: "dracula"
  });

  myCodeMirror.getDoc().setValue("function solution(data) {\n  return ;\n}");
</script>
</html>
