<!DOCTYPE html>
<html lang="en">
  <%- include("head") %>
  <body>
    <div class="alert alert-primary" role="alert">
      재밌는 문제를 만들어 주세요!
    </div>
    <form action="/problem-form/create/?problemId=<%= form._id %>" method="post">
      <div class="form-group">
        <label for="title">Title</label>
        <input value="<%= form.title %>" name="title" type="text" class="form-control" id="title" placeholder="제목을 입력해주세요.">
      </div>
      <div class="form-group">
        <label for="difficulty_level">Difficult level</label>
        <select value="<%= form.difficulty_level %>" name="difficulty_level" class="form-control" id="difficulty_level">
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" class="form-control" id="description" rows="5"><%= form.description %></textarea>
      </div>
      <br>
      <h3>Examples: this will show when user don`t pass the problem</h3>
      <br>
      <div class="example-container">
        <% form.examples.forEach(function(example, index){ %>
          <%- include("components/example-form.ejs", { example, index }) %>
        <% }) %>
      </div>
      <br>
      <h3>Tests: test code. please write type</h3>
      <br>
      <div class="test-container">
        <% form.tests.forEach(function(test, index){ %>
          <%- include("components/test-form.ejs", { test, index }) %>
        <% }) %>
        <div class="button-container">
          <a href="/problems" class="btn btn-lg btn-primary">Back</a>
          <button type="submit" class="btn btn-lg btn-danger">Submit</button>
        </div>
      </div>
    </form>
  </body>
</html>
