<!DOCTYPE html>
<html>
  <%- include ./partials/head.ejs %>
  <body>
    <%- include ./partials/nav.ejs %>
    <div class="problems-container container">
      <ul class="problems list-group">
        <% for (const problem of problems) { %>
          <li 
            class="list-group-item d-flex justify-content-between align-items-center"
            id=<%= problem.id %>
          >
            <div>
              <div>
                <%= problem.title %>
              </div>
              <div>Level:
                <%= problem.difficulty_level %>
              </div>
              <span class="badge badge-primary badge-pill">
                <%= problem.completed_users || 0 %>
              </span>
              <% if(problem.difficulty_level === 1) { %>
                <span class="badge badge-pill badge-success">Easy</span>
              <% } %>
              <% if(problem.difficulty_level === 3) { %>
                <span class="badge badge-pill badge-danger">Difficult</span>
              <% } %>
              <% if(problem.difficulty_level === 2) { %>
                <span class="badge badge-pill badge-warning">Normal</span>
              <% } %>
            </div>
            <a href=/problems/<%= problem.id %>>
              <button type="button" class="btn btn-info">GO</button>
            </a>
            </li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
