<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1><%= result %></h1>
    <% if (failureCode) { %>
      <h3>테스트 결과</h3>

      <% failureCode.forEach(failure => { %>
        <% if (failure.passed === '✔') { %>
          <div><%= failure.passed %><%= failure.exampleCode %></div>
          <div>출력 값 '<%= failure.solution %>' 와(과) 기대 값이 같습니다.</div>
        <% } else { %>
          <div><%= failure.passed %><%= failure.exampleCode %></div>
          <div>예상: <%= failure.solution %></div>
          <div>출력: <%= failure.code %></div>
        <% } %>
      <% }) %>

      <h3>테스트 <%= passCount %>개 통과</h3>
    <% } else { %>
      <h3>테스트 <%= passCount %>개 모두 통과</h3>
    <% } %>
    <a href="/">Home</a>
    <a href="/problem/<%= id %>">Try again</a>
  </body>
</html>
