<!DOCTYPE html>
<html>
  <head>
    <script src="/codemirror/lib/codemirror.js"></script>
    <script src="/codemirror/mode/javascript.js"></script>
    <script src="/codemirror/addon/line_numbers.js"></script>
    <script src="/codemirror/addon/edit/closebrackets.js"></script>
    <script src="/codemirror/addon/edit/closetag.js"></script>
    <script src="/codemirror/addon/edit/continuelist.js"></script>
    <script src="/codemirror/addon/edit/matchbrackets.js"></script>
    <script src="/codemirror/addon/edit/matchtags.js"></script>
    <script src="/codemirror/addon/edit/trailingspace.js"></script>

    <link rel="stylesheet" href="/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/codemirror/theme/material-palenight.css">

    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>

    <h2><%= title %></h2>
    <% if (isAllPass) { %>
      <h1>통과!</h1>
    <% } else { %>
      <h1>땡!</h1>
    <% } %>

    <form>
      <textarea id="editor" name="userAnswer">
<%= userAnswer %></textarea>
    </form>

    <% for (let i = 0; i < tests.length; i++) { %>
      <div class="<%= passOrFail[i] %>">
        <h4><%= `${i + 1}번 테스트 케이스: ${tests[i].code}` %></h4>
        <h4>테스트 케이스 정답: <%= tests[i].solution %></h4>
        <h4>제출 코드 실행 결과: <%= result[i] %></h4>
      </div>
      <hr>
    <% } %>

    <% include ./partials/footer %>
    <script src='/javascripts/editor.js'></script>
  </body>
</html>
