<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/problem.css' />
    <link rel='stylesheet' href='/codemirror/lib/codemirror.css' />
    <link rel='stylesheet' href='/codemirror/theme/ayu-dark.css' />
    <script src="/codemirror/lib/codemirror.js"></script>
    <script src="/codemirror/mode/javascript/javascript.js"></script>
  </head>
  <body>
    <%- include("./header.ejs"); %>
    <main>
      <div class="result-box">
        <div class="result-title">
          <h1>
            <span class="typewriter">FAIL...</span>
          </h1>
          <p class="result-icon">
            <img src="/images/icon/icon_04.png" alt="bb8 icon" />
            <span class="tooltip">TRY AGAIN...</span>
          </p>
        </div>
        <div class="editor-box">
          <form id="code-form" action="<%= `/problems/${id}` %>" method="POST">
            <textarea id="editor" name="code"><%= code %></textarea>
          </form>
          <p class="editor-title">
            <span class="light-saber-icon"></span>
            <span class="title">BATTLE AGAIN</span>
            <span class="light-saber-icon right blue"></span>
          </p>
        </div>
        <% if (resultList) { %>
          <div class="code-box">
            <% for (let i = 0; i < tests.length; i++) { %>
              <ul class="test-list">
                <li>// <%= i + 1%></li>
                <li><%= tests[i].code %></li>
                <li>solution: <%= tests[i].solution %> / return: <%= answerList[i] %></li>
                <% if (resultList[i] === "failure") { %>
                  <li class="failure"><%= resultList[i] %></li>
                <% } else { %>
                  <li class="success"><%= resultList[i] %></li>
                <% } %>
              </ul>
            <% } %>
          </div>
        <% } else { %>
            <div class="code-box">
              <ul class="error-list">
                <li><%= error.name %></li>
                <li><%= error.message %></li>
              </ul>
            </div>
        <% } %>
        <ul class="button-list">
          <li><button class="button big yellow" type="submit" form="code-form">SUBMIT AGAIN</button></li>
          <li><a class="button big blue" href="/">GO TO PROBLEM LIST</a></li>
        </ul>
      </div>
    </main>
    <%- include("./footer.ejs"); %>
  </body>
  <script src="/javascripts/codemirrorConfig.js"></script>
</html>
