<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <div class="kata-wrapper">
      <div class="kata-sub-details">
        <%- include('./partials/problemDetails', { problem: problem }) %>
      </div>
      <div class="kata-body-wrapper">
        <div class="details-wrapper">
          <div class="success-details">
            <div class="kata-details-header">
              Passed: <%= tests.length %> Failed: 0
            </div>
            <div class="success-massage">All passed :)</div>
            <!-- <div>powered by</div> -->
          </div>
        </div>
        <div class="code-mirror-wrapper">
          <form
            class="code-mirror"
            action="/problems/<%= problem._id %>/solution"
            method="POST"
          >
            <div class="code-mirror-solution"> solution:</div>
            <textarea id="code" name="solution"></textarea>
            <div class="code-mirror-solution"> Sample Test:</div>
            <div id="code-sample"></div>
            <% const problemTests = problem.tests %>
            <button type="submit" class="submit"> ▶ ATTEMPT </button>
          </form>
        </div>
      </div>
    </div>
    <script src="/lib/codemirror/codemirror-5.48.4.js"></script>
    <script src="/javascripts/javascript.js"></script>
    <script src="/lib/codemirror/codeEditor.js"></script>
    <script>
      const sampleEditor = CodeMirror(document.getElementById('code-sample'), {
        mode: "javascript",
        lineNumbers: true,
        lineWrapping: true,
        matchBrackets: true,
        theme: 'base16-dark',
      });

      let sampleTestCode = '';
      <% problemTests.forEach(test => { %>
        sampleTestCode += `<%- test.code %>; <%- test.solution %> \n\n`;
      <% }) %>

      sampleEditor.getDoc().setValue(sampleTestCode);
      sampleEditor.setSize(null, 180);
    </script>
  </body>
</html>
