<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <script src="/codemirror/lib/codemirror.js"></script>
    <script src="/codemirror/mode/javascript.js"></script>
    <script src="/codemirror/edit/closebrackets.js"></script>
    <script src="/codemirror/edit/matchbrackets.js"></script>
    <script src="/codemirror/edit/javascript-lint.js"></script>
    <script src="/codemirror/edit/trailingspace.js"></script>
    <link rel="stylesheet" href="/codemirror/lib/codemirror.css" />
    <link rel="stylesheet" href="/codemirror/theme/material-ocean.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/failure.css" />
  </head>
  <body>
    <% include ./../partials/header %>
    <main class="main-page">
      <section class="problem-container">
        <div class="problem-info">
          <h1 class="problem-title"><%=data.title%></h1>
          <p class="problem-description"><%=data.description%></p>
        </div>
        <div class="problem-metadata">
          <p class="problem-complete">Complete User <%=data.completedCount%></p>
          <p class="problem-difficulty">Problem Level <%=data.difficulty%></p>
        </div>
        <div class="problem-testcase">
          <p class="problem-testcase-title">입출력 예시</p>
          <ul class="problem-testcase-list">
            <% data.tests.forEach(test => { %>
            <li class="problem-testcase-item">
              <div class="problem-input">입력 <%=test.code%></div>
              <div class="problem-output">출력 <%=test.solution%></div>
            </li>
            <% }) %>
          </ul>
        </div>
      </section>
      <section class="answer-container">
        <form class="answer-form" action="/problem/<%=data._id%>" method="POST">
          <% if (data.userAnswer) { %>
          <textarea name="userCode" id="editor">
<%=data.userAnswer%> 
      </textarea
          >
          <% } else { %>
          <textarea name="userCode" id="editor">
function solution (<%=data.argument%>) {
  
}
</textarea
          >
          <% } %>
          <button class="answer-submit-button" type="submit">Run Code</button>
        </form>

        <div class="result-container">
          <% if (data.results.length !== 0) { %>
          <ul>
            <p>최종 결과: <%=data.finalResult%></p>
            <% data.results.forEach(result => { %>
            <li>
              <div>테스트 코드: <%=result.code%></div>
              <div>제출한 답: <%=result.userResult%></div>
              <div>정답: <%=result.solution%></div>
            </li>
            <% }) %>
          </ul>
          <% } %> <% include ./../partials/footer %>
        </div>
      </section>
    </main>
    <script>
      const editor = CodeMirror.fromTextArea(
        document.getElementById("editor"),
        {
          mode: "javascript",
          theme: "material-ocean",
          lineNumbers: true,
          autoCloseBrackets: true,
          matchBrackets: true,
          trailingSpace: true,
          lint: "javascript",
          tabSize: 2,
        }
      );
    </script>
  </body>
</html>
