<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <script src="/codemirror/lib/codemirror.js"></script>
    <script src="/codemirror/mode/javascript.js"></script>
    <script src="/codemirror/edit/closebrackets.js"></script>
    <script src="/codemirror/edit/matchbrackets.js"></script>
    <script src="/codemirror/edit/javascript-lint.js"></script>
    <script src="/codemirror/edit/trailingspace.js"></script>
    <link rel="stylesheet" href="/codemirror/lib/codemirror.css" />
    <link rel="stylesheet" href="/codemirror/theme/material-ocean.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include ./../partials/header %>
    <h1><%=data.title%></h1>
    <p><%=data.description%></p>
    <p>정답자 수 : <%=data.completedCount%> 명</p>
    <p>난이도 : <%=data.difficulty%></p>
    <ul>
      <% data.tests.forEach(test => { %>
      <li>
        <div>입력 에시: <%=test.code%></div>
        <div>출력 예시: <%=test.solution%></div>
      </li>
      <% }) %>
    </ul>
    <form action="/problem/<%=data._id%>" method="POST">
      <% if (data.userAnswer) { %>
      <textarea name="userCode" id="editor">
<%=data.userAnswer%> 
      </textarea>
      <% } else { %>
      <textarea name="userCode" id="editor">
function solution (<%=data.argument%>) {
  
}
</textarea
      >
      <% } %>
      <button type="submit">Run Code</button>
    </form>
    <% if (data.error) { %>
    <p>테스트 결과 : <%=data.finalResult%></p>
    <div>에러내용: <%=data.results[0].userResult%></div>
    <% } %> <% if (data.results.length !== 0 && !data.error ) { %>
    <ul>
      <p>테스트 결과 : <%=data.finalResult%></p>
      <% data.results.forEach(result => { %>
      <li>
        <div>테스트코드: <%=result.code%></div>
        <% if (result.userResult === undefined) { %>
        <div>실행결과: undefined</div>
        <% } %> <% if (result.userResult !== undefined) { %>
        <div>실행결과: <%=result.userResult%></div>
        <% } %>
        <div>정답: <%=result.solution%></div>
      </li>
      <% }) %>
    </ul>
    <% } %> <% include ./../partials/footer %>

    <script>
      const editor = CodeMirror.fromTextArea(
        document.getElementById("editor"),
        {
          mode: "javascript",
          theme: "material-ocean",
          lineNumbers: true,
          autoCloseBrackets: true,
          matchBrackets: true,
          trailingSpace: true,
          lint: "javascript",
          tabSize: 2,
        }
      );
    </script>
  </body>
</html>
