mixin problemBlock(problem = {})
  .problemBlock(id=problem.id)
    div
      div=(`Level: ${problem.difficulty_level}`)
      div=(`challengers: ${problem.accuracy.challengers_count}`)
    div=problem.title
