<div>
  <div class="rotateContent">
    Make
    <div class="rotateFlip">
      <div><div>Code</div></div>
      <div><div>Logic</div></div>
      <div><div>Everything</div></div>
    </div>
    Awesome!
  </div>

  <div class="problem-list-filter">
    <ul class="filter-lv">
      <a href="/"><li class="filter-item effect-underline">All</li></a>
      <a href="/filter/level/1"><li class="filter-item effect-underline">Lv1</li></a>
      <a href="/filter/level/2"><li class="filter-item effect-underline">Lv2</li></a>
      <a href="/filter/level/3"><li class="filter-item effect-underline">Lv3</li></a>
      <a href="/filter/level/4"><li class="filter-item effect-underline">Lv4</li></a>
      <a href="/filter/level/5"><li class="filter-item effect-underline">Lv5</li></a>
    </ul>
  </div>

  <ul class="problem-list">
    <% for(const problem of problems){ %>
      <li class="problem-item">
        <a href="problems/<%= problem.id %>"/>
          <div class="image">
            <img src="<%= problem.img %>" alt="<%= problem.title %>"/>
          </div>
          <div class="item-content">
            <h1><%= problem.title %></h1>
            <div class="tags">
              <div class="tag">
                <i class="fas fa-user"></i>
                Solver: <%= problem.completed_users %>
              </div>
              <div class="tag">
                <i class="fas fa-level-up-alt"></i>
                LV: <%= problem.difficulty_level %>
              </div>
            </div>
          </div>
        </a>
      </li>
     <% } %>
  </ul>
</div>
