<div>
  <div class=rotateContent>
    Make
    <div class=rotateFlip>
      <div><div>Code</div></div>
      <div><div>Logic</div></div>
      <div><div>Everything</div></div>
    </div>
    Awesome!
  </div>

  <ul class="problem-list">
    <% for(const problem of problems){ %>
      <li class="problem-item">
        <a href="problems/<%= problem.id %>"/>
          <div class="image">
            <img src="<%= problem.img %>" alt="<%= problem.title %>"/>
          </div>
          <div class="item-content">
            <h1><%= problem.title %></h1>
            <div class="tags">
              <div class="tag">
                <i class="fas fa-user"></i>
                Solver: <%= problem.completed_users %>
              </div>
              <div class="tag">
                <i class="fas fa-level-up-alt"></i>
                LV: <%= problem.difficulty_level %>
              </div>
            </div>
          </div>
        </a>
      </li>
     <% } %>
  </ul>
</div>
