<div class="problem-wrapper">
  <div class="windowbar">
    <span>File</span><span>Editing</span><span>Search</span><span>Show</span><span>Navigation</span><span>Development</span><span>Tools</span><span>Help</span>
    <div class="controls">
      <a class="close" href="/">X</a>
    </div>
    </div>
    <div class="info-section">
      <div class="guide-section">
        <div class="problem-title">
          <%= problem.title %>
        </div>
        <div class="problem-desc">
          <%= problem.description %>
        </div>
      </div>
      <div class="testcase-section">
        <div class="problem-title">
          테스트 케이스
        </div>

        <textarea class="test-case-area"><% for (const test of problem.tests) { %>
<%= test.code %> : <%= test.solution %><% } %></textarea>
      </div>
    </div>
    <div class="run-section">
      <div class="code-section">
        <div class="problem-title">
          Solution
        </div>
        <textarea id="code" class="code-textarea">
function solution(<%= problem.argument %>) {
  let result = 0;
  return result;
}</textarea>
      </div>
      <div class="output-section">
        <div class="problem-title">
          실행 결과
        </div>
        <div class="result-view-section">
        </div>
      </div>
    </div>
    <!--
      <div id="save" class="message">
      <a href="#" class="closeMessage"></a>
      <div class="notification">
        <span>Do you really want to close without save changes?</span>
        <p>If you close now changes will not be saved and you will lose the cool code you wrote!</p>
        <a href="#saved" class="save">Save</a>
        <a href="#" class="dontsave">Don't save</a>
        <a href="#" class="cancel">Cancel</a>
      </div>
    </div>
  -->
  </div>
  <div class="btn-group">
    <button class="send-testcase-btn">코드 실행</button>
  </div>
</div>

<!-- code mirror -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.6.0/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.6.0/mode/javascript/javascript.min.js"></script>
<script src="/javascripts/templates/problemTemplate.js"></script>
<script src="/javascripts/problem.js"></script>
